// Fonts
$primary-font: "TT Hoves", sans-serif;

// Colors
$primary-font-color: #333333;
$secondory-font-color: #bdbdbd;
$hover-text-color: #ffffff;
$button-color: #2c2c2c;
$footer-bg-color: #2c2c2c;
$background-color: #fff;
$box-bg-color: #fbfbfb;

// Breakpoints
$breakpoint-mobile: 375px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1440px;

// Animations
$transition-props: 300ms cubic-bezier(0.4, 0, 0.2, 1);
