.projects__container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 30px;
  overflow: hidden;
  margin-bottom: 30px;
  @media screen and (min-width: $breakpoint-tablet) {
    flex-direction: row;
  }
}
.projects__img {
  width: 100%;
  max-height: 200px;
  @media screen and (min-width: $breakpoint-tablet) {
    max-width: 339px;
    max-height: fit-content;
  }
  @media screen and (min-width: $breakpoint-desktop) {
    width: auto;
    max-width: fit-content;
    max-height: fit-content;
  }
}
.projects__item-hover {
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
  padding: 48px 78px 0px 78px;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.5);
  background-image: linear-gradient(
    rgba(33, 33, 33, 0.7),
    rgba(33, 33, 33, 0.7)
  );
  transition: all $transition-props;
}
.projects__item {
  position: relative;
  box-sizing: border-box;
  &:hover .projects__item-hover,
  &:focus .projects__item-hover {
    visibility: visible;
    pointer-events: all;
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}

.item__title {
  font-size: 20px;
  line-height: 1;
  font-weight: 700;
  color: $hover-text-color;
  margin-bottom: 15px;
  @media screen and (min-width: $breakpoint-desktop) {
    font-size: 64px;
  }
}
.item__details {
  color: #ffffff8a;
  text-transform: uppercase;
  font-family: Gothic A1;
  font-size: 12px;

  font-weight: 400;
}

.projects__all-btn {
  width: 222px;
  height: 71px;
  font-size: 20px;
  font-weight: 400;
  color: $hover-text-color;
  background-color: $button-color;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all $transition-props;
  &:hover,
  &:focus {
    color: $button-color;
    background-color: #f3f3f3;
  }
  @media screen and (min-width: $breakpoint-desktop) {
    font-size: 12px;
  }
}
.project__btn-wapper {
  display: flex;
  justify-content: flex-end;
}
